.userTable {
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid violet;
    width: 100%;
}

.userTable thead tr {
    background-color: violet;
}

.userTableRow td {
    background-color: rgb(255, 219, 255);
}

.userTable tr, .userTableRow tr {
    border-bottom: 1px solid violet;
}

.actionButtons {
    display: flex;
    justify-content: space-evenly;
}

.circularLoading {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: red;
    text-align: center;
}

.pageNumbers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.pageNumbers button {
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(0, 205, 0);
    color: #ffffff;
    padding: 10px 15px;
    margin: 0.5rem;
}

@media (max-width: 768px) {
    .userTable {
        font-size: clamp(12px, 2vw, 16px);
        text-wrap: wrap;
    }
    .userTable th, .userTable td {
        padding: 5px 0px;
    }
}