.userTable {
    border: 1px solid;
}

.userTable thead tr {
    background-color: violet;
}

.userTable {
    border-collapse: collapse !important;
}

.userTableRow td {
    background-color: rgb(255, 219, 255);
}

.userTableRow th, .userTableRow td {
    border: 1px solid black;
}